*{
    margin: 0;
}
.big-box{
    width: 80%;
    border: 2px black solid;
    height: 530.5px;
    margin-left: 10%;
    margin-top: 69px;
    position: relative;
}
.small-box1{
    position: absolute;
    height: 10%;
    width: 10%;
    background-color: red;
}
.small-box2{
    position:absolute;
    height: 10%;
    width: 10%;
    background-color: red;
    right: 0;
    bottom: 0;
}
.big-box1{
    border: 2px black solid;
    height: 70%;
    width: 70%;
    margin: 7% 15%;
    position: relative;
    text-align: center;
    font-weight: bold;
}